$font-size: 16; // Ideal font-size for body copy
$important-number: 0; // Ideal font size for alternate font (e.g. font-size where x-height of alternate font is the same as x-height of body copy at ideal font-size)

// Scales to increase/decrease the font-size with
$perfect-fourth: 1.333;
$perfect-fifth: 1.5;
$golden-section: 1.618;

// Pick a scale
$scale: $perfect-fifth;

// Calculate font sizes according to selected scale
$s: $font-size; // Small as base for body copy

$xs: round($s / $scale); // Smaller sizes
$xxs: round($xs / $scale);

$m: round($s * $scale); // Larger sizes
$l: round($m * $scale);
$xl: round($l * $scale);
$xxl: round($xl * $scale);
$xxxl: round($xxl * $scale);
$xxxxl: round($xxxl * $scale);
$xxxxxl: round($xxxxl * $scale);

// Calculate alternate sizes ($ixxl = $important_number_xxl)
$is: $important-number; // Small as base

$ixs: round($is / $scale); // Smaller sizes
$ixxs: round($ixs / $scale);

$im: round($is * $scale); // Larger sizes
$il: round($im * $scale);
$ixl: round($il * $scale);
$ixxl: round($ixl * $scale);
$ixxxl: round($ixxl * $scale);
$ixxxxl: round($ixxxl * $scale);
$ixxxxxl: round($ixxxxl * $scale);

@mixin font-size($size: $font-size){ // Set font-size
	font-size: $size + px; // px fallback for old browsers
	font-size: $size / $font-size + rem; // rem unit (http://snook.ca/archives/html_and_css/font-size-with-rem)
}
